.subBar {
  margin-top: 15px;
  margin-left: 100px;
  margin-right: 200px;
  /* background-color: #fff; */
  padding: 15px;
}

.drop {
  cursor: pointer;
  /* position: relative; */
}

.sub-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
li {
  list-style: none;
  padding: 7px 20px;
  font-size: 14px;
  cursor: pointer;
  z-index: 1000;
  /* line-height: 42px; */
}

.drop img {
  margin-right: 5px;
}

li:hover {
  background-color: #f1f0f0;
  border-radius: 5px;
}

.list {
  background-color: #fff;
  position: absolute;
  /* left: 14px; */
  /* top: 24px; */
  border-radius: 5px;
  padding: 4px;
  width: 52;
  box-shadow: 5px 5px 5px 5px lightblue;
}

.categ {
  background-color: #f1f0f0;
  padding: 7px 20px;
  border-radius: 5px;
  /* margin-bottom: 1px; */
}

@media screen and (max-width: 455px) {
  .subBar {
    margin: 0px;
  }
  .subBar li {
    display: flex;
    flex-direction: column;
  }
  .drop {
    display: none;
  }
}
