.slider {
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 50px;
  margin-top: 25px;
}

.slider img {
  width: 1250px;
  height: 500px;
  border-radius: 15px;
}

@media screen and (max-width: 455px) {
  .slider img {
    width: 600px;
    height: 300px;
  }
}
